<div class="container mt-3">
  <div class="row">
    <h1>All our Flats</h1>
  </div>
  <div class="row">
    <div class="col">
      <p>You search by <strong><%= @query %></strong>, we found <%= @flats.count %> / <%= Flat.count %> flats</p>
    </div>
  </div>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="flat-card">
      <div class="Flat-card-image">
      </div>
      <div class="flat-card-content">
        <div class="flat-card-title">
          <h4><%= @flat.name %></h4>
        </div>
        <p><%= flat.address %></p>
        <div class="flex">
          <div class="flex">
          <i class="material-icons mr-2">euro_symbol</i><%= flat.price_per_night %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

</div>
